In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import datetime
import re

In [5]:
data_path = '/content/drive/MyDrive/PDS_Assignment2/train.csv'
raw_data = pd.read_csv(data_path)
raw_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [7]:
raw_data.isnull()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [8]:
raw_data.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [9]:
#dropping new price column
raw_data.drop(columns=["New_Price"], inplace=True)

In [10]:
#converting into float type
raw_data['Mileage'] = raw_data['Mileage'].str.extract('(\d+\.\d+)').astype(float)
raw_data['Engine'] = raw_data['Engine'].str.extract('(\d+)').astype(float)
raw_data['Power'] = raw_data['Power'].str.extract('(\d+\.\d+)').astype(float)

In [11]:
# Impute missing values with the mean or median

raw_data['Mileage'].fillna(raw_data['Mileage'].median(), inplace=True)
raw_data['Engine'].fillna(raw_data['Engine'].median(), inplace=True)
raw_data['Power'].fillna(raw_data['Power'].median(), inplace=True)
raw_data["Seats"].fillna(raw_data["Seats"].median(), inplace=True)

In [12]:
def numeric_value(text):
    if pd.notna(text):
        matches = re.findall(r'(\d+\.\d+|\d+)', str(text))
        if matches:
            return float(matches[0])
    return None

In [14]:
#Task2
#Remove the units from some of the attributes and only keep the numerical value.
raw_data["Mileage"] = raw_data["Mileage"].apply(numeric_value)
raw_data["Engine"] = raw_data["Engine"].apply(numeric_value)
raw_data["Power"] = raw_data["Power"].apply(numeric_value)

In [15]:
print(raw_data.describe())

        Unnamed: 0         Year  Kilometers_Driven      Mileage       Engine  \
count  5847.000000  5847.000000       5.847000e+03  5847.000000  5847.000000
mean   3013.181461  2013.448435       5.841013e+04    18.159395  1630.724132
std    1736.398890     3.194949       9.237971e+04     4.356978   600.208543
min       1.000000  1998.000000       1.710000e+02     0.000000    72.000000
25%    1509.500000  2012.000000       3.346750e+04    15.260000  1198.000000
50%    3015.000000  2014.000000       5.257600e+04    18.190000  1497.000000
75%    4517.500000  2016.000000       7.249050e+04    21.100000  1991.000000
max    6018.000000  2019.000000       6.500000e+06    28.400000  5998.000000

             Power        Seats        Price
count  5847.000000  5847.000000  5847.000000
mean    100.333619     5.284590     9.653742
std      37.973665     0.804372    11.275966
min      34.200000     2.000000     0.440000
25%      86.800000     5.000000     3.550000
50%      88.800000     5.000000     5.750000
75%     103.200000     5.000000    10.250000
max     488.100000    10.000000   160.000000

In [ ]:

raw_data.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
#Task3
# Perform one-hot encoding for 'Fuel_Type' and 'Transmission' columns
raw_data = pd.get_dummies(raw_data, columns=["Fuel_Type", "Transmission"])
print(raw_data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0                 41000      First    19.67  1582.0  126.20    5.0  12.50
1                 46000      First    18.19  1199.0   88.70    5.0   4.50
2                 87000      First    20.77  1248.0   88.76    7.0   6.00
3                 40670     Second    15.20  1968.0  140.80    5.0  17.74
4                 86999      First    23.08  1461.0   63.10    5.0   3.50
...                 ...        ...      ...     ...     ...    ...    ...
5842              27365      First    28.40  1248.0   88.80    5.0   4.75
5843             100000      First    24.40  1120.0   88.80    5.0   4.00
5844              55000     Second    14.00  2498.0   88.80    8.0   2.90
5845              46000      First    18.90   998.0   67.10    5.0   2.65
5846              47000      First    25.44   936.0   57.60    5.0   2.50

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                    1                   0                 0
1                    0                   0                 1
2                    1                   0                 0
3                    1                   0                 0
4                    1                   0                 0
...                ...                 ...               ...
5842                 1                   0                 0
5843                 1                   0                 0
5844                 1                   0                 0
5845                 0                   0                 1
5846                 1                   0                 0

      Transmission_Automatic  Transmission_Manual
0                          0                    1
1                          0                    1
2                          0                    1
3                          1                    0
4                          0                    1
...                      ...                  ...
5842                       0                    1
5843                       0                    1
5844                       0                    1
5845                       0                    1
5846                       0                    1

[5847 rows x 16 columns]

In [17]:
raw_data['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
raw_data['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [18]:
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Mileage  Engine  \
0              41000          0             0      First    19.67  1582.0
1              46000          1             0      First    18.19  1199.0
2              87000          0             0      First    20.77  1248.0
3              40670          0             1     Second    15.20  1968.0
4              86999          0             0      First    23.08  1461.0

    Power  Seats  Price
0  126.20    5.0  12.50
1   88.70    5.0   4.50
2   88.76    7.0   6.00
3  140.80    5.0  17.74
4   63.10    5.0   3.50

In [ ]:
#Task4
# Create one more feature and add this column to the dataset
current_year = datetime.datetime.now().year
raw_data['Current_age'] = current_year - raw_data['Year']

In [ ]:
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    18.19  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Current_age
0                       0                    1            9
1                       0                    1           13
2                       0                    1           12
3                       1                    0           11
4                       0                    1           11

In [ ]:
#Task5
#Perform select, filter, rename, mutate, arrange and summarize with group by operations
select_columns=raw_data[['Name','Location','Year','Kilometers_Driven','Price','Mileage']]
select_columns

,Name,Location,Year,Kilometers_Driven,Price,Mileage
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,12.50,19.67
1,Honda Jazz V,Chennai,2011,46000,4.50,18.19
2,Maruti Ertiga VDI,Chennai,2012,87000,6.00,20.77
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,17.74,15.20
4,Nissan Micra Diesel XV,Jaipur,2013,86999,3.50,23.08
...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,4.75,28.40
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,4.00,24.40
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,2.90,14.00
5845,Maruti Wagon R VXI,Kolkata,2013,46000,2.65,18.90
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,2.50,25.44

In [ ]:
#renaming data
rename=select_columns.rename(columns={'Location':'Loc','Mileage':'new_Mileage'})
rename

,Name,Loc,Year,Kilometers_Driven,Price,new_Mileage
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,12.50,19.67
1,Honda Jazz V,Chennai,2011,46000,4.50,18.19
2,Maruti Ertiga VDI,Chennai,2012,87000,6.00,20.77
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,17.74,15.20
4,Nissan Micra Diesel XV,Jaipur,2013,86999,3.50,23.08
...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,4.75,28.40
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,4.00,24.40
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,2.90,14.00
5845,Maruti Wagon R VXI,Kolkata,2013,46000,2.65,18.90
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,2.50,25.44

In [ ]:
#filtering data
filter_data = rename[raw_data['Owner_Type'] == 'First']
filter_data

,Name,Loc,Year,Kilometers_Driven,Price,new_Mileage
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,12.50,19.67
1,Honda Jazz V,Chennai,2011,46000,4.50,18.19
2,Maruti Ertiga VDI,Chennai,2012,87000,6.00,20.77
4,Nissan Micra Diesel XV,Jaipur,2013,86999,3.50,23.08
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,17.50,11.36
...,...,...,...,...,...,...
5841,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,4.83,25.80
5842,Maruti Swift VDI,Delhi,2014,27365,4.75,28.40
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,4.00,24.40
5845,Maruti Wagon R VXI,Kolkata,2013,46000,2.65,18.90
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,2.50,25.44

In [ ]:
#arranging data
arrange_data=filter_data.sort_values(by='new_Mileage')
arrange_data.head()

,Name,Loc,Year,Kilometers_Driven,Price,new_Mileage
3109,Mercedes-Benz M-Class ML 350 4Matic,Coimbatore,2016,22769,49.22,0.0
962,Hyundai Santro Xing GL,Pune,2008,93000,1.45,0.0
1025,Hyundai Santro Xing GL,Hyderabad,2010,58163,2.45,0.0
1412,Land Rover Range Rover Sport 2005 2012 Sport,Coimbatore,2008,69078,40.88,0.0
4871,Land Rover Freelander 2 TD4 HSE,Delhi,2013,72000,15.50,0.0

In [ ]:
#grouping and summarizing
summary=arrange_data.groupby('Year')['Price'].mean()
summary.head(5)

Year
1998    3.900
1999    0.900
2000    1.250
2001    0.700
2002    1.065
Name: Price, dtype: float64